* {
  box-sizing: border-box;
}

body {
  background: #333;
}

.Menu > li {
  display: inline-block;
  font-size: 1.4em;
  padding: 1em 0.8em;
}

.Menu {
  position: relative;
  background-color: #fff;
}

.Menu a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
}

.sub-Menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #ccc;
}

.Menu > li:hover .sub-Menu {
  display: block;
}

.sub-Menu > h2 {
  margin: 15px 20px 10px 20px;
  font-size: 1.1em;
  font-weight: 550;
}

.sub-Menu > p {
  margin: 20px;
}
